<section class="about-mission">
    <img class="mission-bg" src="{{ page.media.images[header.background].url }}">
    <div class="mission-container">
        <div class="mission-img-container">
            <div class="rectangle"></div>
            <div class="mission-img-content">
                <img class="mission-img" src="{{ page.media.images[header.mission].url }}">
            </div>
        </div>
        <div class="mission-content">
            <div class="title-content">
                <h1 class="title">{{ page.header.headtitle|raw }}</h1>
                <span class="title-indicator"></span>
            </div>
            <div class="mission-desc">
                <p class="description">{{ page.header.description|raw }}</p>
            </div>
        </div>
    </div>
</section>
