<section class="about-head" style="background-image: url('{{ page.media.images[header.background].url }}');">
    <div class="head-container">
        <div class="title-content">
            <p class="title">{{ page.header.headtitle }}</p>
        </div>
        <div class="mask-container">
            <div class="mask-content1">
                <div class="mask-green"></div>
                <div class="mask-white"></div>
            </div>
            <div class="mask-content2">
                <div class="mask-green"></div>
                <div class="mask-white"></div>
            </div>
        </div>
    </div>
</section>
