<section class="services-addition">
    <div class="services-container">
        <p class="description">{{ page.header.description }}</p>
        <span class="title-indicator"></span>
        <p class="subdescription">{{ page.header.subdescription }}</p>
        <span class="title-indicator"></span>
    </div>
</section>
